In [15]:
import requests
import panel as pn
import hvplot.pandas
import pandas as pd
import numpy as np

In [16]:
file_url = "https://raw.githubusercontent.com/TallData/Customer_Success_Dashboard/main/data/customer_detail_data.csv"

In [17]:
response = requests.get(file_url)

if response.status_code == 200:
    # Save the file locally
    with open("customer_detail_data.csv", "wb") as file:
        file.write(response.content)
    print("File downloaded successfully.")
else:
    print("Failed to download the file.")

File downloaded successfully.

In [18]:
df = pd.read_csv("customer_detail_data.csv")

In [20]:
df.tail()

,CustomerID,FirstName,LastName,State,FirstPurchaseDate,SnapshotDate,RelationshipTerm,ContractYears,ContractMonths,Vertical,SupportTickets,AverageCSAT,PercentToGoal,MRR,ContractStatus
241191,EP8MY0,Amina,JOHNSON,FL,2020-06-24,2024-01-31,44,4,9,Entertainment,5,0.26,1.19,0.0,Churned
241192,EP8MY0,Amina,JOHNSON,FL,2020-06-24,2024-02-29,45,4,10,Entertainment,5,0.26,1.19,0.0,Churned
241193,EP8MY0,Amina,JOHNSON,FL,2020-06-24,2024-03-31,46,4,11,Entertainment,5,0.26,1.19,0.0,Churned
241194,EP8MY0,Amina,JOHNSON,FL,2020-06-24,2024-04-30,47,4,12,Entertainment,5,0.26,1.19,0.0,Churned
241195,EP8MY0,Amina,JOHNSON,FL,2020-06-24,2024-05-31,48,5,1,Entertainment,5,0.26,1.19,0.0,Churned